
.gitattributes
.vs/informatyka_2021_projekt/v16/.suo
.vs/informatyka_2021_projekt/v16/Browse.VC.db
.vs/informatyka_2021_projekt/v16/Browse.VC.db-shm
.vs/informatyka_2021_projekt/v16/Browse.VC.db-wal
.vs/informatyka_2021_projekt/v16/Browse.VC.opendb
.vs/informatyka_2021_projekt/v16/ipch/AutoPCH/caec7a2e1341ed54/INFORMATYKA_2021_PROJEKT.ipch
informatyka_2021_projekt.sln
